.App {
  max-width: 960px;
  margin: 0 auto;

}
.App nav {
  display: flex;
  margin: 0 auto 60px;
  gap: 10px;
  align-items: center;
}
.App nav h1 {
  margin-right: auto;
}
.App nav a {
  color: #333;
  padding: 4px 10px;
  text-decoration: none;
}
.App nav a.active {
  color: white;
  background: #4c6ef5;
  text-decoration: none;
  border-radius: 6px;
  text-decoration: underline;
  text-decoration-color: white; /* Color de la línea de subrayado */
  text-decoration-thickness: 2px; /* Grosor de la línea */
  text-decoration-skip-ink: none; /* No saltar el subrayado entre letras */
  padding-bottom: 5px; /* Espacio entre el texto y la línea de subrayado */

}




 .App .lupa {
  width: 25px;
}

.App .lupa:hover {
  cursor: pointer;
}

.App #cercador {
border-radius: 5px;
padding: 5px;
height: 1.2em;
align-self: center;
}

.App .div-cercador {
  display: flex;
  gap: 15px;
}

.App .div-sessio-iniciada {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  padding: 5px 10px;
  border-radius: 5px;
}

.App .div-sessio-iniciada p:first-child:hover {
  cursor: pointer;
} 

.App .div-sessio-iniciada button {
 /* width: 50px; */
 background-color: #333;
 color: aliceblue;
 padding: 10px;
 border-radius: 8px;
}

.App .div-sessio-iniciada button:hover {
  background-color: #242424;
}

.App .div-sessio-iniciada button:hover {
cursor: pointer;
}