* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vW;
    height: 100vH;
    align-items: center;
    background-color: snow;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}

button {
    padding: 5px;
    border-radius: 4px;
    width: 50%;
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

