.div-form {
  margin: 0;
  padding: 0;
}
.exercici-form {
  width: 500px; 
  margin: auto;
  padding: 25px;
  max-width: 600px;
  margin: 100px auto; 
  background-color: #fdfdff;;
  border-radius: 10px;
  border: 1px solid #e0e7ff; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.exercici-form label,
.exercici-form input {
    display: block;
    text-align: left;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.2em;
    border-radius: 6px;
    color: #333; 
}

.exercici-form select {
  display: block;
  font-size: 1.2em;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  margin: 10px auto;
  border-radius: 6px; 
  background-color: #ffffff; 
}

.exercici-form button {
  padding: 14px;
  font-size: 16px;
  flex-grow: 1;
  width: 100%;
  border: none;
  border-radius: 6px;
  background-color: #f39d09;; 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.exercici-form button:hover {
  background-color: #e9a20a;
}

.exercici-form .mes-series:hover {
  background-color: #375ae7;; 
}

.exercici-form .serie {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.exercici-form .mes-series {
  background-color: #4c6ef5;; 
  color: #ffffff;
  width: 50%;
  border-radius: 6px;
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
}

.contenedor-series {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}